.email-success {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-card {
    border: none;
    background-color: #ffffff;
}

.success-icon {
    font-size: 4rem;
    color: $naranja;
}