#appAdminUser{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabla-usuarios{

    h1{
        color: $blanco;
    }

    width: 90%;
    margin: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table{
        width: 100%;
        text-align: center;
        border-collapse: collapse;

        thead{
            tr{
                border: 2px solid $amarilloClaro;
                border-bottom: 2px solid $blanco;
                th{
                    color: $amarilloClaro;
                    font-weight: $bold;
                }
            }
        }
        tbody{
            tr{
                border: 2px solid $blanco;
                td{
                    padding: 0.6rem;
                    border: 1px solid $blanco;
                    background-color: $amarilloClaro;
                    color: $blanco;

                    a{
                        color: $negro;
                        background-color: $blanco;
                        padding: 0.3rem;

                        &:nth-child(1){
                            background-color: $blanco;
                            color: $negro;
                        }
                        &:nth-child(2){
                            background-color: $rojo;
                            color: $blanco;
                        }
                    }
                }
            }
        }

    }
}